# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

__init__.py
*.pyc
.*.swp
.#*
#*#
*~
*.pb

# ignore partially applied patches and their backup
*.rej
*.orig

# ignore files under the top level $CMSSW_BASE/src directory, but not its subdirectories
/*
!/*/

# ignore crab submissions
**/crab_projects/
*.log

# ignore .root files
*.root

# ignore figures 
*.png
*.jpg
*.jpeg

# Jet Substructure analysis related ignores
**/batch/
**/bharikri.cc
