# System Configuration 
System 2018_PbPb
DataType MC

InputDir /eos/cms/store/group/phys_heavyions/bharikri/Run3GammaJet/2018_PbPb/MC/
OutputDir /eos/user/b/bharikri/www/Run3GammaJet/2025_10_30/skim/phoEt_100/2018_PbPb/MC/
OutputPrefix 2025_10_30_2018_MC_renamed_skim_jetpT40

# Logging and Compilation Control
Verbosity 1

# Event Selection
#HiHFCutMin 0
#HiHFCutMax 200000
#VzCut 15.0

# Photon Selection
PhotonEtMin 100.0
PhotonEtaMax 1.44
PhotonHoverEMax 0.12

PhotonSigmaIEtaIEtaMax 0.011
PhotonIsoMax 5
PhotonR9Min 0.5

# Jet Selection
JetPtMin 40.0
JetEtaMax 2.0
DeltaPhiMin 2.094 
#XjMin 0.4

# Centrality Bins
CentralityBins 0 60

# Analysis Cases
AnalysisCases AK2Z2

# Histogram configuration
HistogramConfigFile: /eos/user/b/bharikri/lxplus_private/run3_gamma_jet/CMSSW_13_2_13/src/HeavyIonsAnalysis/JetAnalysis/test/configs/shared/Histograms.config

BranchMappingFile: /eos/user/b/bharikri/lxplus_private/run3_gamma_jet/CMSSW_13_2_13/src/HeavyIonsAnalysis/JetAnalysis/test/configs/branch_maps/BranchMapping_2018_PbPb_Data.config
