# System Configuration 
System 2024_PbPb
DataType Data
InputDir /home/el9/mount_lxplus/lxplus_private/run3_gamma_jet/CMSSW_13_2_13/src/HeavyIonsAnalysis/JetAnalysis/test/input_test/PbPb/Data/
OutputDir /home/el9/mount_lxplus/lxplus_private/run3_gamma_jet/CMSSW_13_2_13/src/HeavyIonsAnalysis/JetAnalysis/test/2_SkimPlotSubstructure/output/
OutputPrefix 2025_10_31_2024_PbPb_Data_test_jetpT40

# Logging and Compilation Control
Verbosity 4

# Event Selection
# HiHFCutMin 0
# HiHFCutMax 200000
# VzCut 15.0

# Photon Selection
PhotonEtMin 40.0
PhotonEtaMax 1.44
PhotonHoverEMax 0.12

# PhotonSigmaIEtaIEtaMax 0.011
# PhotonIsoMax 5
# PhotonR9Min 0.5

# Jet Selection
JetPtMin 40.0
JetEtaMax 2.0
DeltaPhiMin 2.094 
# 2.094  
# 7pi/12 Modify it to 2 pi /3 exactly
# XjMin 0.4

# Centrality Bins
CentralityBins 0 60

# Analysis Cases
AnalysisCases AK2Z2

# =============================================================================
# COMMON HISTOGRAM DEFINITIONS
# =============================================================================

HistogramConfigFile: /home/el9/mount_lxplus/lxplus_private/run3_gamma_jet/CMSSW_13_2_13/src/HeavyIonsAnalysis/JetAnalysis/test/configs/shared/Histograms.config

BranchMappingFile: /home/el9/mount_lxplus/lxplus_private/run3_gamma_jet/CMSSW_13_2_13/src/HeavyIonsAnalysis/JetAnalysis/test/configs/branch_maps/BranchMap_2023.config
