# =============================================================================
# Centralized Histogram Configuration for Gamma-Jet Analysis
# =============================================================================
# This file contains all histogram definitions for Data, MC, and Overlay plotting.
# Use Histogram.Default.* for global defaults, and Histogram.<Name>.* for overrides.
#
# Author: CMS Heavy Ion Analysis
# Date: 2025-06-03
# =============================================================================

# =============================================================================
# DEFAULTS (applies to all unless overridden)
# =============================================================================
Histogram.Default.Bins: 50
Histogram.Default.XMin: 0
Histogram.Default.XMax: 100
Histogram.Default.LogY: 0
Histogram.Default.PlotType: TH1D
Histogram.Default.Color: auto
Histogram.Default.LineWidth: 2
Histogram.Default.DrawOption: E1][P0]
Histogram.Default.MarkerStyle: kFullCircle
Histogram.Default.MarkerSize: 0.8

# =============================================================================
# HISTOGRAM CLASSIFICATION
# =============================================================================
# Event-level histograms (not binned by centrality)
EventHistograms: Vz,HiHF,Centrality,EventWeight

# General histograms (binned by centrality, not per-jet)
GeneralHistograms: NPhotons,PhotonEt,PhotonEta,PhotonHoverE,PhotonSigmaIEtaIEta,PhotonIso,PhotonR9,Rho

# Jet histograms (binned by centrality and per-jet collection)
JetHistograms: NJets,JetPt,JetEta,JetPhi,JetMass,JetGirth,JetThrust,JetLHA,JetPtD,DeltaPhi,JetXj,JetDynSplit,JetDynKt,JetDynZ,JetDynDeltaR,IntJetMulti,JetPtVsJetMass,JetPtVsJetGirth,JetPtVsJetThrust,JetPtVsJetPtD,JetEtaVsJetPt,DynSplitVsPt,JetPhiVsJetEta,
# =============================================================================
# HISTOGRAM DEFINITIONS
# =============================================================================
# Event-level histograms
Histogram.NJets.Name: hNJets
Histogram.NJets.Title: Number of Jets;N_{jets};Entries
Histogram.NJets.Bins: 25
Histogram.NJets.XMax: 25

Histogram.Vz.Name: hVz
Histogram.Vz.Title: Primary Vertex z;v_{z} [cm];Entries
Histogram.Vz.Bins: 100
Histogram.Vz.XMin: -20
Histogram.Vz.XMax: 20
Histogram.Vz.LogY: 1

Histogram.Rho.Name: hRho
Histogram.Rho.Title: <#rho>;<#rho>;Entries
Histogram.Rho.Bins: 100
Histogram.Rho.XMax: 300
Histogram.Rho.LogY: 1

Histogram.HiHF.Name: hHiHF
Histogram.HiHF.Title: HF Energy Sum;#Sigma E_{T}^{HF} [GeV];Entries
Histogram.HiHF.Bins: 100
Histogram.HiHF.XMax: 7000

Histogram.Centrality.Name: hCentrality
Histogram.Centrality.Title: Centrality;hiBin;Entries
Histogram.Centrality.Bins: 200
Histogram.Centrality.XMax: 200

# General histograms
Histogram.NPhotons.Name: hNPhotons
Histogram.NPhotons.Title: Number of Photons;N_{#gamma};Entries
Histogram.NPhotons.Bins: 10
Histogram.NPhotons.XMax: 10

# =============================================================================
# PHOTON HISTOGRAMS
# =============================================================================
Histogram.PhotonEt.Name: hPhotonEt
Histogram.PhotonEt.Title: Photon E_{T};Photon E_{T} [GeV];Entries
Histogram.PhotonEt.BinEdgesX: 40,80,100,120,150,200,500
# Histogram.PhotonEt.Bins: 100
# Histogram.PhotonEt.XMax: 400
Histogram.PhotonEt.LogY: 1

Histogram.PhotonEta.Name: hPhotonEta
Histogram.PhotonEta.Title: Photon #eta;Photon #eta;Entries
Histogram.PhotonEta.XMin: -2.5
Histogram.PhotonEta.XMax: 2.5

Histogram.PhotonHoverE.Name: hPhotonHoverE
Histogram.PhotonHoverE.Title: Photon H/E;Photon H/E;Entries
Histogram.PhotonHoverE.Bins: 20
Histogram.PhotonHoverE.XMax: 0.2

Histogram.PhotonSigmaIEtaIEta.Name: hPhotonSigmaIEtaIEta
Histogram.PhotonSigmaIEtaIEta.Title: Photon #sigma_{i#etai#eta};Photon #sigma_{i#etai#eta};Entries
Histogram.PhotonSigmaIEtaIEta.Bins: 40
Histogram.PhotonSigmaIEtaIEta.XMax: 0.03

Histogram.PhotonIso.Name: hPhotonIso
Histogram.PhotonIso.Title: Sum of ECAL, HCAL and Track Isolation ;#Sigma_{ECAL,HCAL,TRK} Isolation (GeV);Entries
Histogram.PhotonIso.XMin: -20
Histogram.PhotonIso.XMax: 30

Histogram.PhotonR9.Name: hPhotonR9
Histogram.PhotonR9.Title: Photon R_{9};Photon R_{9};Entries
Histogram.PhotonR9.Bins: 50
Histogram.PhotonR9.XMax: 1.0

Histogram.Rho.Name: hRho
Histogram.Rho.Title: <#rho>;<#rho>;Entries
Histogram.Rho.Bins: 300
Histogram.Rho.XMax: 300
Histogram.Rho.LogY: 1

===============================================================================
# JET SUBSTRUCTURE HISTOGRAMS
# =============================================================================

# Jet histograms
Histogram.JetPt.Name: hJetPt
Histogram.JetPt.Title: Jet p_{T};Leading jet p_{T} [GeV/c];Entries
Histogram.JetPt.Bins: 50
Histogram.JetPt.XMax: 200
Histogram.JetPt.LogY: 1

Histogram.JetEta.Name: hJetEta
Histogram.JetEta.Title: Jet #eta; Leading jet #eta;Entries
Histogram.JetEta.XMin: -2.5
Histogram.JetEta.XMax: 2.5

Histogram.JetPhi.Name: hJetPhi
Histogram.JetPhi.Title: Jet #phi;Leading jet #phi [rad];Entries
Histogram.JetPhi.XMin: -3.14159
Histogram.JetPhi.XMax: 3.14159

Histogram.DeltaPhi.Name: hDeltaPhi
Histogram.DeltaPhi.Title: #Delta#phi(#gamma, jet);|#Delta#phi [rad]|;Entries
Histogram.DeltaPhi.XMax: 3.14159
Histogram.DeltaPhi.MarkerStyle: kFullCircle
Histogram.DeltaPhi.LogY: 1

Histogram.JetMass.Name: hJetMass
Histogram.JetMass.Title: Jet Mass;m [GeV/c^{2}];Entries
Histogram.JetMass.Bins: 20
Histogram.JetMass.XMax: 20

Histogram.JetGirth.Name: hJetGirth
Histogram.JetGirth.Title: Jet Girth;Girth;Entries
Histogram.JetGirth.Bins: 20
Histogram.JetGirth.XMax: 0.2

Histogram.JetThrust.Name: hJetThrust
Histogram.JetThrust.Title: Jet Thrust;Jet Thrust;Entries
Histogram.JetThrust.Bins: 20
Histogram.JetThrust.XMax: 0.5

Histogram.JetLHA.Name: hJetLHA
Histogram.JetLHA.Title: Jet LHA;LHA;Entries
Histogram.JetLHA.Bins: 20
Histogram.JetLHA.XMax: 1.0

Histogram.JetPtD.Name: hPtD
Histogram.JetPtD.Title: Jet p_{T}D;p_{T}D;Entries
Histogram.JetPtD.Bins: 20
Histogram.JetPtD.XMax: 1.0

Histogram.JetXj.Name: hJetXj
Histogram.JetXj.Title: x_{j} = p_{T}^{jet} / E_{T}^{#gamma};x_{j};Entries
Histogram.JetXj.XMax: 2.0

Histogram.JetDynSplit.Name: hJetDynSplit
Histogram.JetDynSplit.Title: Number of Splits;nSD;Entries
Histogram.JetDynSplit.Bins: 15
Histogram.JetDynSplit.XMax: 15
Histogram.JetDynSplit.MarkerStyle: kFullTriangleUp

Histogram.JetDynKt.Name: hJetDynKt
Histogram.JetDynKt.Title: Dynamical Groomed k_{T};k_{T} [GeV/c];Entries
Histogram.JetDynKt.Bins: 30
Histogram.JetDynKt.XMax: 15
Histogram.JetDynKt.LogY: 1
Histogram.JetDynKt.BinEdgesX: 0,0.5,1,1.5,2,3,4,6,10,15

Histogram.JetDynZ.Name: hJetDynZ
Histogram.JetDynZ.Title: Dynamical Groomed z;z;Entries
Histogram.JetDynZ.Bins: 20
Histogram.JetDynZ.XMax: 0.5

Histogram.JetDynDeltaR.Name: hJetDynDeltaR
Histogram.JetDynDeltaR.Title: Jet R_{g};R_{g};Entries
# Histogram.JetDynDeltaR.Bins: 15
# Histogram.JetDynDeltaR.XMin: -0.05
# Histogram.JetDynDeltaR.XMax: 0.2
Histogram.JetDynDeltaR.BinEdgesX: -0.05,0,0.04,0.08,0.12,0.2

Histogram.IntJetMulti.Name: hIntJetMulti
Histogram.IntJetMulti.Title: Intra Jet Multiplicity;Intra Jet Multiplicity;Entries
Histogram.IntJetMulti.Bins: 25
Histogram.IntJetMulti.XMax: 25


# Jet pT vs mass (following h2<Xaxis>Vs<Yaxis> convention)
Histogram.JetPtVsJetMass.Name: h2JetPtVsJetMass
Histogram.JetPtVsJetMass.Title: Jet p_{T} vs Mass;p_{T} [GeV/c];m [GeV/c^{2}]
Histogram.JetPtVsJetMass.XBins: 50
Histogram.JetPtVsJetMass.XMin: 0
Histogram.JetPtVsJetMass.XMax: 400
Histogram.JetPtVsJetMass.YBins: 20
Histogram.JetPtVsJetMass.YMin: 0
Histogram.JetPtVsJetMass.YMax: 20
Histogram.JetPtVsJetMass.PlotType: TH2D
Histogram.JetPtVsJetMass.ColorMap: viridis
Histogram.JetPtVsJetMass.LogZ: 0

# Jet pT vs substructure observables
Histogram.JetPtVsJetGirth.Name: h2JetPtVsJetGirth
Histogram.JetPtVsJetGirth.Title: Jet p_{T} vs Girth;p_{T} [GeV/c];girth
Histogram.JetPtVsJetGirth.XBins: 50
Histogram.JetPtVsJetGirth.XMin: 0
Histogram.JetPtVsJetGirth.XMax: 400
Histogram.JetPtVsJetGirth.YBins: 20
Histogram.JetPtVsJetGirth.YMin: 0
Histogram.JetPtVsJetGirth.YMax: 0.2
Histogram.JetPtVsJetGirth.PlotType: TH2D
Histogram.JetPtVsJetGirth.ColorMap: viridis
Histogram.JetPtVsJetGirth.LogZ: 0

Histogram.JetPtVsJetThrust.Name: h2JetPtVsJetThrust
Histogram.JetPtVsJetThrust.Title: Jet p_{T} vs Thrust;p_{T} [GeV/c];thrust
Histogram.JetPtVsJetThrust.XBins: 50
Histogram.JetPtVsJetThrust.XMin: 0
Histogram.JetPtVsJetThrust.XMax: 400
Histogram.JetPtVsJetThrust.YBins: 20
Histogram.JetPtVsJetThrust.YMin: 0
Histogram.JetPtVsJetThrust.YMax: 0.5
Histogram.JetPtVsJetThrust.PlotType: TH2D
Histogram.JetPtVsJetThrust.ColorMap: viridis
Histogram.JetPtVsJetThrust.LogZ: 0

Histogram.JetPtVsJetPtD.Name: h2JetPtVsJetPtD
Histogram.JetPtVsJetPtD.Title: Jet p_{T} vs p_{T}D;Jet p_{T};p_{T}D
Histogram.JetPtVsJetPtD.XBins: 50
Histogram.JetPtVsJetPtD.XMin: 0
Histogram.JetPtVsJetPtD.XMax: 400
Histogram.JetPtVsJetPtD.YBins: 20
Histogram.JetPtVsJetPtD.YMin: 0
Histogram.JetPtVsJetPtD.YMax: 1.0
Histogram.JetPtVsJetPtD.PlotType: TH2D
Histogram.JetPtVsJetPtD.ColorMap: viridis
Histogram.JetPtVsJetPtD.LogZ: 0

# Jet eta vs pT (following h2<Xaxis>Vs<Yaxis> convention)
Histogram.JetEtaVsJetPt.Name: h2JetEtaVsJetPt
Histogram.JetEtaVsJetPt.Title: Jet #eta vs p_{T};#eta;p_{T} [GeV/c]
Histogram.JetEtaVsJetPt.XBins: 50
Histogram.JetEtaVsJetPt.XMin: -2.5
Histogram.JetEtaVsJetPt.XMax: 2.5
Histogram.JetEtaVsJetPt.YBins: 50
Histogram.JetEtaVsJetPt.YMin: 0
Histogram.JetEtaVsJetPt.YMax: 400
Histogram.JetEtaVsJetPt.PlotType: TH2D
Histogram.JetEtaVsJetPt.ColorMap: viridis
Histogram.JetEtaVsJetPt.LogZ: 1

# Dynamical splitting vs pT
# Histogram.DynSplitVsPt.Name: h2DynSplitVsPt
# Histogram.DynSplitVsPt.Title: Dynamical Groomed Splitting vs p_{T};p_{T} [GeV/c];nSD [GeV/c]
# Histogram.DynSplitVsPt.XBins: 15
# Histogram.DynSplitVsPt.XMin: 0
# Histogram.DynSplitVsPt.XMax: 15
# Histogram.DynSplitVsPt.YBins: 50
# Histogram.DynSplitVsPt.YMin: 0
# Histogram.DynSplitVsPt.YMax: 400
# Histogram.DynSplitVsPt.PlotType: TH2D
# Histogram.DynSplitVsPt.ColorMap: viridis
# Histogram.DynSplitVsPt.LogZ: 0

# Jet phi vs eta (following h2<Xaxis>Vs<Yaxis> convention)
Histogram.JetPhiVsJetEta.Name: h2JetPhiVsJetEta
Histogram.JetPhiVsJetEta.Title: Jet #phi vs #eta;#phi;#eta
Histogram.JetPhiVsJetEta.XBins: 50
Histogram.JetPhiVsJetEta.XMin: -3.14159
Histogram.JetPhiVsJetEta.XMax: 3.14159
Histogram.JetPhiVsJetEta.YBins: 50
Histogram.JetPhiVsJetEta.YMin: -2.5
Histogram.JetPhiVsJetEta.YMax: 2.5
Histogram.JetPhiVsJetEta.PlotType: TH2D
Histogram.JetPhiVsJetEta.ColorMap: viridis
Histogram.JetPhiVsJetEta.LogZ: 0
