# System Configuration 
System 2023_PbPb
DataType Data
InputDir /eos/cms/store/group/phys_heavyions/bharikri/Run3GammaJet/2023_PbPb/Data/
# InputDir /eos/cms/store/group/phys_heavyions/bharikri/Run3GammaJet/2023_PbPb/Data//2025_05_22_Data_HiRawPrime0_part_skimmed_batch25_of_85.root
OutputDir /eos/user/b/bharikri/www/Run3GammaJet/2025_05_22/2023_PbPb/Data/
OutputPrefix 2025_05_22_HiRawPrime0_part

# Event Selection
HiHFCutMin 0
HiHFCutMax 7000
VzCut 15.0

# Photon Selection
PhotonEtMin 60.0
PhotonEtaMax 1.44
PhotonHoverEMax 0.12
PhotonSigmaIEtaIEtaMax 0.010392
PhotonIsoMax 2.099277
PhotonR9Min 0.8

# Jet Selection
JetPtMin 40.0
JetEtaMax 2.0
DeltaPhiMin 2.094  # 7pi/12
XjMin 0.4

# Centrality Bins
CentralityBins 0 30 60 180

# Analysis Cases
AnalysisCases AK2Z2
# AK3Z1,AK3Z2,AK3Z3,AK4Z1,AK4Z2,AK4Z3,AK4Z4,AK4Z5
