# System Configuration 
System 2023_PbPb
DataType MC
InputDir /eos/cms/store/group/phys_heavyions/bharikri/Run3GammaJet/2023_PbPb/MC/
OutputDir /eos/user/b/bharikri/www/Run3GammaJet/2025_05_20/2023_PbPb/MC/
OutputPrefix 2025_05_20_photon_only_debug

# Event Selection
HiHFCutMin 0
HiHFCutMax 7000
VzCut 15.0

# Photon Selection
PhotonEtMin 30.0
PhotonEtaMax 1.44
PhotonHoverEMax 0.119947
PhotonSigmaIEtaIEtaMax 0.010392
PhotonIsoMax 2.099277
PhotonR9Min 0.8

# Centrality Bins
CentralityBins 0 30 60 180

# Logging and Compilation Control
Verbosity 1
RegenerateHeader false
