# Default parameters (used as fallback for all unfolding sets)
default.System 2023_PbPb
default.DataType Data+MC
default.DataInputFile /eos/user/b/bharikri/www/Run3GammaJet/2025_07_03/phoEt_100/2023_PbPb/2025_07_03_PbPb_2023_HiRawPrimeAll_full_output_combined.root
default.DataConfigFile /afs/cern.ch/user/b/bharikri/private/HeavyIon/run3_gamma_jet/CMSSW_13_2_13/src/HeavyIonsAnalysis/JetAnalysis/test/configs/JetSub_2023_PbPb_Data.config
default.MCInputFile /eos/user/b/bharikri/www/Run3GammaJet/2025_07_03/phoEt_100/2024_PbPb/2025_07_03_PbPb_2024_QCDPhoton_pthat_Combined_output_combined.root
default.MCConfigFile /afs/cern.ch/user/b/bharikri/private/HeavyIon/run3_gamma_jet/CMSSW_13_2_13/src/HeavyIonsAnalysis/JetAnalysis/test/configs/JetSub_2024_PbPb_MC.config
default.OutputDir /eos/user/b/bharikri/www/Run3GammaJet/2025_07_03/phoEt_100/2023_PbPb/Unfolding/
default.OutputPrefix 2025_07_03_Invert_Unfolded_phoEt_100
default.Verbosity 2
default.CentralityBins 0 30
default.eventWeightBranch eventWeight

default.TreeName gammaJetTree

# Available unfolding methods: MatrixInversion, Bayes, SVD, BinByBin
default.UnfoldingMethod Bayes
default.UnfoldingIterations 25
default.UnfoldingRegParam 4

default.TUnfoldTau 0.001
default.TUnfoldRegMode Size

default.TestMode None

default.Tests Nominal,Closure,Split:0.5,Bottomline


# 1D unfolding for xJ
Unfold1D_xJ.UnfoldingDimension 1
Unfold1D_xJ.UnfoldVariables xj_AK2Z2
Unfold1D_xJ.TruthVariables refxj_AK2Z2
Unfold1D_xJ.xj_AK2Z2Bins 0.0,0.2,0.4,0.5,0.6,0.7,0.8,0.9,1.0,1.2,1.5
Unfold1D_xJ.refxj_AK2Z2Bins 0.0,0.2,0.4,0.5,0.6,0.7,0.8,0.9,1.0,1.2,1.5
#Unfold1D_xJ.Tests Nominal,Closure

# 2D unfolding example for xJ vs girth
Unfold2D_girth_xJ.UnfoldingDimension 2
Unfold2D_girth_xJ.UnfoldVariables jetGirth_AK2Z2,xj_AK2Z2
Unfold2D_girth_xJ.TruthVariables refJetGirth_AK2Z2,refxj_AK2Z2
Unfold2D_girth_xJ.xj_AK2Z2Bins 0.2,0.8,1.5
Unfold2D_girth_xJ.jetGirth_AK2Z2Bins 0.0,0.02,0.04,0.08,0.12
Unfold2D_girth_xJ.refxj_AK2Z2Bins 0.2,0.8,1.5
Unfold2D_girth_xJ.refJetGirth_AK2Z2Bins 0.0,0.02,0.04,0.08,0.12
#Unfold2D_girth_xJ.Tests Nominal,Closure,Split:0.6,Bottomline

# 2D unfolding example for xJ vs Rg
Unfold2D_dyn_deltaR_xJ.UnfoldingDimension 2
Unfold2D_dyn_deltaR_xJ.UnfoldVariables jetDynDeltaR_AK2Z2,xj_AK2Z2
Unfold2D_dyn_deltaR_xJ.TruthVariables refJetDynDeltaR_AK2Z2,refxj_AK2Z2
Unfold2D_dyn_deltaR_xJ.xj_AK2Z2Bins 0.2,0.8,1.5
Unfold2D_dyn_deltaR_xJ.jetDynDeltaR_AK2Z2Bins -0.05,0.0,0.04,0.08,0.12,0.2
Unfold2D_dyn_deltaR_xJ.refxj_AK2Z2Bins 0.2,0.8,1.5
Unfold2D_dyn_deltaR_xJ.refJetDynDeltaR_AK2Z2Bins -0.05,0.0,0.04,0.08,0.12,0.2
#Unfold2D_dyn_deltaR_xJ.Tests Nominal,Closure,Split:0.6,Bottomline

# 3D unfolding example for photon Et, jet Pt, and jet girth
# Unfold3D_girth_jetPt_photonEt.UnfoldingDimension 3
# Unfold3D_girth_jetPt_photonEt.UnfoldVariables jetGirth_AK2Z2,xj_AK2Z2,photonEt
# Unfold3D_girth_jetPt_photonEt.TruthVariables refJetGirth_AK2Z2,refxj_AK2Z2,MCphotonEt
# Unfold3D_girth_jetPt_photonEt.photonEtBins 80,100,150,500
# Unfold3D_girth_jetPt_photonEt.xj_AK2Z2Bins 40,80,200
# Unfold3D_girth_jetPt_photonEt.jetGirth_AK2Z2Bins 0.0,0.02,0.04,0.08,0.12
# Unfold3D_girth_jetPt_photonEt.MCphotonEtBins 80,100,150,500
# Unfold3D_girth_jetPt_photonEt.refxj_AK2Z2Bins 40,80,200
# Unfold3D_girth_jetPt_photonEt.refJetGirth_AK2Z2Bins 0.0,0.02,0.04,0.08,0.12
# Unfold3D_girth_jetPt_photonEt.Tests Nominal,Closure,Split:0.7
