# Default parameters (used as fallback for all unfolding sets)
default.System 2023_PbPb
default.DataType Data+MC
default.DataInputFile /eos/user/b/bharikri/www/Run3GammaJet/2025_06_11/2023_PbPb/2025_06_11_HiRawPrimeAll_full_combined.root
default.DataConfigFile /afs/cern.ch/user/b/bharikri/private/HeavyIon/run3_gamma_jet/CMSSW_13_2_13/src/HeavyIonsAnalysis/JetAnalysis/test/configs/JetSub_2023_PbPb_Data.config
default.MCInputFile /eos/user/b/bharikri/www/Run3GammaJet/2025_06_11/2023_PbPb/2025_06_11_QCDPhoton30_combined.root
default.MCConfigFile /afs/cern.ch/user/b/bharikri/private/HeavyIon/run3_gamma_jet/CMSSW_13_2_13/src/HeavyIonsAnalysis/JetAnalysis/test/configs/JetSub_2023_PbPb_MC.config
default.OutputDir /eos/user/b/bharikri/www/Run3GammaJet/2025_06_15/2023_PbPb/Unfolding/
default.OutputPrefix 2025_06_15_Unfolded
default.Verbosity 2
default.CentralityBins 0 30
default.eventWeightBranch eventWeight

default.UnfoldingMethod MatrixInversion
default.UnfoldingIterations 4
default.UnfoldingRegParam 4

default.TUnfoldTau 0.001
default.TUnfoldRegMode Size

default.TestMode None

# 1D unfolding for jet girth
Unfold1D_girth.UnfoldingDimension 1
Unfold1D_girth.UnfoldVariables jetGirth_AK2Z2
Unfold1D_girth.TruthVariables refJetGirth_AK2Z2
Unfold1D_girth.jetGirth_AK2Z2Bins 0.0,0.02,0.04,0.08,0.12
Unfold1D_girth.refJetGirth_AK2Z2Bins 0.0,0.02,0.04,0.08,0.12

# 1D unfolding for jet xj
# Unfold1D_xj.UnfoldingDimension 1
# Unfold1D_xj.UnfoldVariables xj_AK2Z2
# Unfold1D_xj.TruthVariables xj_AK2Z2
# Unfold1D_xj.xj_AK2Z2Bins 0.0,0.2,0.4,0.6,0.8,1.0
# Unfold1D_xj.xj_AK2Z2Bins 0.0,0.2,0.4,0.6,0.8,1.0

# 2D unfolding example for jet pt vs girth
Unfold2D_girth_jetPt.UnfoldingDimension 2
Unfold2D_girth_jetPt.UnfoldVariables jetGirth_AK2Z2,jetPt_AK2Z2
Unfold2D_girth_jetPt.TruthVariables refJetGirth_AK2Z2,refJetPt_AK2Z2
Unfold2D_girth_jetPt.jetPt_AK2Z2Bins 40,80,200
Unfold2D_girth_jetPt.jetGirth_AK2Z2Bins 0.0,0.02,0.04,0.08,0.12
Unfold2D_girth_jetPt.refJetPt_AK2Z2Bins 40,80,200
Unfold2D_girth_jetPt.refJetGirth_AK2Z2Bins 0.0,0.02,0.04,0.08,0.12

# 3D unfolding example for photon Et, jet Pt, and jet girth
Unfold3D_girth_jetPt_photonEt.UnfoldingDimension 3
Unfold3D_girth_jetPt_photonEt.UnfoldVariables jetGirth_AK2Z2,jetPt_AK2Z2,photonEt
Unfold3D_girth_jetPt_photonEt.TruthVariables refJetGirth_AK2Z2,refJetPt_AK2Z2,MCphotonEt
Unfold3D_girth_jetPt_photonEt.photonEtBins 80,100,150,500
Unfold3D_girth_jetPt_photonEt.jetPt_AK2Z2Bins 40,80,200
Unfold3D_girth_jetPt_photonEt.jetGirth_AK2Z2Bins 0.0,0.02,0.04,0.08,0.12
Unfold3D_girth_jetPt_photonEt.MCphotonEtBins 80,100,150,500
Unfold3D_girth_jetPt_photonEt.refJetPt_AK2Z2Bins 40,80,200
Unfold3D_girth_jetPt_photonEt.refJetGirth_AK2Z2Bins 0.0,0.02,0.04,0.08,0.12
