# System Configuration 
System 2023_PbPb
DataType Data+MC

# Input/Output Configuration
DataInputFile /eos/user/b/bharikri/www/Run3GammaJet/2025_06_11/2023_PbPb/2025_06_11_HiRawPrimeAll_full_combined.root
DataConfigFile /afs/cern.ch/user/b/bharikri/private/HeavyIon/run3_gamma_jet/CMSSW_13_2_13/src/HeavyIonsAnalysis/JetAnalysis/test/configs/JetSub_2023_PbPb_Data.config
MCInputFile /eos/user/b/bharikri/www/Run3GammaJet/2025_06_11/2023_PbPb/2025_06_11_QCDPhoton30_combined.root
MCConfigFile /afs/cern.ch/user/b/bharikri/private/HeavyIon/run3_gamma_jet/CMSSW_13_2_13/src/HeavyIonsAnalysis/JetAnalysis/test/configs/JetSub_2023_PbPb_MC.config

OutputDir /eos/user/b/bharikri/www/Run3GammaJet/2025_06_15/2023_PbPb/Unfolding/
OutputPrefix 2025_06_15_Unfolded

# Logging Control
Verbosity 2

# Unfolding Configuration
# Options: MatrixInversion, SVD, Bayes
UnfoldingMethod MatrixInversion
# Used for iterative methods like Bayes
UnfoldingIterations 4
# Regularization parameter for SVD
UnfoldingRegParam 4

# Observable Configuration (Comma-separated list of observables to unfold)
ObservablesToUnfold xj
# Binning Configuration (optional - defaults to values from JetSub config if not specified)
JetPtBins 40,500
# 40,60,80,100,120,160,200,300
XjBins 0.4,1.0,3.0
# 0.4,0.6,0.7,0.8,0.9,1.0,1.2
PtRatioBins 0.4,0.6,0.7,0.8,0.9,1.0

# Analysis Cases (should match those in your JetSub config)
AnalysisCases AK2Z2
#,AK4Z2,AK4Z3  # Subset for testing

# Centrality Bins (should match those in your JetSub config)
CentralityBins 0 30 90

# Test Configuration
# Options: None, Trivial, SplitSample, Closure
TestMode None
